// https://badhtml.com

#tetris {
  margin: 0 auto;
  padding: 0;
  color: #FFFFFF
}

#stats {
  display: inline-block;
  vertical-align: top
}

#canvas {
  display: inline-block;
  vertical-align: top;
  border: 2px solid #333;
  background-color: #ffffff
}

#menu {
  display: inline-block;
  vertical-align: top;
  position: relative
}

#menu p {
  margin: 0.5em 0;
  text-align: center
}

#start {
  Color: #F00
}

#menu p a {
  text-decoration: none;
  color: yellow;
  text-shadow: 1px 1px 4px #000
}

#upcoming {
  display: block;
  margin: 0 auto;
  background-color: #E0E0E0
}

#score {
  color: red;
  font-weight: bold;
  vertical-align: middle
}

#rows {
  color: red;
  font-weight: bold;
  vertical-align: middle
}

#tetris {
  font-size: 16px
}

#menu {
  width: 100px;
  height: 100px
}

#upcoming {
  width: 50px;
  height: 50px
}

#canvas {
  width: 120px;
  height: 205px
}

@media screen and (max-width: 930px) {
  #musicContainer {
    display: none
  }
}

@media screen and (max-width: 930px) {
  .hright, .cright, .fright {
    display: none
  }

  .hmiddle, .cmiddle, .fmiddle {
    width: 72%
  }

  .hleft, .cleft, .fleft {
    width: 28%
  }
}

@media screen and (max-width: 700px) {
  .pageframe > div > div {
    float: none;
    outline: none;
    width: 100%
  }

  .header > div {
    height: auto
  }

  .brandz {
    background: none;
    border: none
  }
}
